body{
    margin: auto;
    width: 50vw;
}

h1#primeiro-paragrafo{
    font-size: 36px;
    background-color: #ECF0F1;
    color: #2C3E50;
    text-align: center;
}

#segundo-paragrafo{
    font-size: 36px;
    background-color: #E9F7EF;
    color: #27AE60;
    text-align: center;
}

#terceiro-paragrafo{
    font-size: 36px;
    background-color: #FFF3E6;
    color: #F39C12;
    text-align: center;
}

#quarto-paragrafo{
    font-size: 36px;
    background-color: #F5E6F5;
    color: #8E44AD;
    text-align: center;
}

h2.destinos{
    font-size: 28px;
    background-color: #F9EBEA;
    color: #E74C3C;
}

h2.maravilhas{
    font-size: 28px;
    background-color: #E9F7EF;
    color: #27AE60;
}

h2.vibrantes{
    font-size: 28px;
    background-color: #FFF3E6;
    color: #F39C12;
}

h2.culturas{
    font-size: 28px;
    background-color: #F5E6F5;
    color: #8E44AD;
}

p.paragrafos{
    font-size: 1em;
    text-align: justify;
    line-height: 1.4;
    color: #34495E;
}

